# CODEOWNERS for CineVerse-App
# All files in the repo require approval from these owners

* @AhmedMohamed056 @Ashraf-El-Fallah @Bilalazam26 @devfalah @devsadeq @doaaabdelnaser @HendSayed25 @K-M-9 @mahmmedn19 @Mohamed-Ashraf-2210 @mohamedebrahem13 @mohannadahmed00 @Mostafa-khaled21 @poula22 @skaik-mo @yassenRamadan1
