<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity
            android:name=".navigation.main.DetailsActivity"
            android:exported="false"
            android:label="@string/title_activity_details"
            android:theme="@style/Theme.CineVerseApp" />
    </application>

</manifest>